#ticker {
  display: none !important;
}
#ticker-content {
  display: none !important;
}
#yt-lang-alert-container {
  display: none !important;
}
/* DK: No mobile bloating mealbars */
div[id^=mealbar] {
  display: none;
}
