#yt-injection-scope {
  position: relative;
  height: auto;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  .overlay-wrapper {
    //position: absolute;
    position: fixed;
    top: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding: 16px 4px;
    input, button, .div-btn {
      height: 32px;
      border-radius: 4px;
      box-shadow: 0px 0px 12px #333;
      border: none;
      font-weight: bolder;
      background: #eee;
      pointer-events: all;
    }
    .div-btn {
      box-shadow: 0px 0px 12px #333;
      border: 2px solid transparent;
      transition: all 1s ease-in-out;
      border-radius: 5px;
      &:active {
        background: #fff !important;
        border: 2px solid #77a2ee !important;
        box-shadow: 0px 0px 12px #77a2ee !important;
        transition: all 10ms ease-in-out !important;
      }
    }
    .btn {
      cursor: hand;
    }
    #sync-ms-offset {
      width: 50px;
    }

    & > .sync-menu {
      display: block;
      padding: 0px 8px;
      opacity: 0;
      flex-grow: 1;
      pointer-events: none;
      transition: all 200ms;
      &.opened {
        opacity: 1;
        transition: all 200ms;
        #sync-form {
          pointer-events: all;
        }
      }
      #sync-form {
        display: inline-block;
        font-size: 11px;
        label, input {
          text-decoration: small-caps;
        }
        #sync-share {
          position: relative;
          display: inline-block;
          padding: 4px;
          background: #eee;
          height: 20px;
          top: 6px;
          &:before {
            display: block;
            width: 20px;
            height: 20px;
            content: url("https://upload.wikimedia.org/wikipedia/commons/2/25/Twemoji_1f517.svg");
          }
          &:after {
            position: absolute;
            left: -70px;
            padding: 4px;
            border-radius: 2px;
            margin-top: 1em;
            display: block;
            content: "share url copied!";
            opacity: 0;
            transition: opacity 200ms;
          }
          &.copied {
            background: #8bff50;
            &:after {
              position: absolute;
              left: -70px;
              padding: 4px;
              border-radius: 2px;
              margin-top: 1em;
              display: block;
              content: "share url copied!";
              background: #eee;
              box-shadow: 0px 0px 12px #333;
              opacity: 1;
              transition: opacity 200ms;
            }
          }
        }
      }
    }
    button.sync-button {
      display: inline-flex;
      //align-self: center;
      margin-right: 8px;
      width: auto;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0.9;
      font-size: 12px;
      text-transform: uppercase;
      & .cog {
        background: url("https://upload.wikimedia.org/wikipedia/commons/9/92/Cog_font_awesome.svg");
        width: 20px;
        height: 20px;
        margin-left: 8px;
        transform: rotate(0deg);
        transition: transform 200ms ease-in-out;
        transform-origin: center;
        opacity: 0.9;
      }
      &.opened > .cog {
        transform: rotate(270deg);
        transition: transform 200ms ease-in-out;
      }
      &:hover {
        opacity: 1;
        background: #fff;
        box-shadow: 0px 0px 5px #111;
        transition: all 200ms ease-out;
        & .cog {
          opacity: 1;
        }
      }
    }
    #sync-status-dot {
      display: inline-flex;
      margin: 10px 10px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #555;
      //border: 1px #555 solid;
      box-shadow: 0px 0px 2px #111;
      transition: background 2000ms;
      transition-delay: 300ms;
      &.sended {
        background: #8bff50;
        transition: background 30ms;
        transition-delay: 0ms;
      }
      &.received {
        background: #437aff;
        transition: background 30ms;
        transition-delay: 0ms;
      }

    }
  }
}

#logo #logo-icon-container.ytd-topbar-logo-renderer {
  &:before {
    position: absolute;
    top: 6px;
    left: -6px;
    transform: rotate(-30deg);
    font-size: 14px;
    opacity: 0.8;
    display: block;
    font-weight: bold;
    content: "SYNC";

  }
}

@import "yt-disables.scss";